body{
	background: radial-gradient(white,black);
}
h1{
	font: bold;
}
img{
	margin-top: 30%;
	width: 50%;
	height: auto;
	margin-top: 2em;
}
button{
	font-size: 32px;
	width: 25%;
	height: 10%;
}
@media screen and (max-width: 420px){
	img{
		width: 92%;
		height: auto;
	}
	#btns{
		margin-top: 32%;
	}
	button{
		font-size:1.5em;
		width: 46%;
		height: 10%;
	}
}
button:hover{
	color: green;
}